body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: url('https://pixabay.com/get/gc876c75bb6921eca8ef37e099b9129911b9c6be8ff9971d0cc569e03ad875e9805730585a7b5910fb6e567154aede41b.jpg') no-repeat;
  background-attachment:fixed;
  background-size: 100%;
 
}
.greeny{
  /* From https://css.glass */
background: rgb(0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
border: 1px solid rgba(221, 233, 210, 0.8);
}